{% extends 'home/_base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<main role="main">
  <div class="container">
    <br />
    <div class="row">
      <div class="col-md-12">
        <div class="border-bottom">
          <h1>Xayah API</h1>
          Xayah is the API that visualizes Rakan Data. The visualizations will appear on the <a href="/data/">Reported
            Rakan Runs</a> page.
        </div>
      </div>
      <div class="col-md-12">
        <br />
        Because this takes a heavy toll on my server. This endpoint is only available for a small group of people.
        If you're interested in using this endpoint, please contact me at nortonjp@uw.edu.
      </div>
    </div>
  </div>

</main>
{% endblock %}