{% extends 'home/_base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<main role="main">
  <div class="container">
    <br />
    <div class="row">
      <div class="col-md-12">
        <div class="border-bottom">
          <h1>Reported Rakan Runs</h1>
        </div>
      </div>
      <div class="col-md-12">
        <br />
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>State</th>
                <th>Weights</th>
                <th>Iteration</th>
                <th>Scores</th>
              </tr>
            </thead>
            <tbody>

              {% for run in runs %}

              <tr onclick="location.href = '/data/{{run.id}}';">
                <td>{{run.id}}</td>
                <td>{{run.state.code}}</td>
                <td>{/{run.last_weight_string}/}</td>
                <td>{{run.iterations}}</td>
                <td>{/{run.last_percentages_string}/}</td>
              </tr>

              {% endfor %}

            </tbody>
          </table>
        </div>
        <p>
          <br />
          Interested in using this Web API? Read the <a href="/api/">API documentation</a>.
          <br />
          Xayah API is: 
          {% if working %}
            <span class="badge badge-warning">Working on {{ tasks }}+ Tasks</span>
          {% else %}
            <span class="badge badge-success">Idle</span>
          {% endif %}
          <br />
        </p>
      </div>
    </div>
  </div>

</main>
{% endblock %}