{% extends 'states/_base.html' %}
{% load static %}
{% block title %}Maps{% endblock %}

{% block content %}
<main role="main">

  {% include 'states/jumbotron.html' %}

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for state in content %}
        <div class="media">
          <img src="{% static 'states/blitz.jpg' %}" class="mr-3" height="64" width="64" />
          <div class="media-body">
            <h5 class="mt-0">{{state.details.id}} - {{state.details.name}}</h5>
            {{state.details.nodes}} Nodes
          </div>
          {% for map in state.maps %}]
            <div class="media mt-3">
              <a class="mr-3" href="#">
                <img src="{% static 'states/blitz.jpg' %}" class="mr-3" height="64" width="64" />
              </a>
              <div class="media-body">
                <h5 class="mt-0">A Map</h5>
                Some details about a map.
              </div>
            </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>
{% endblock %}