{% extends 'states/_base.html' %}
{% block content %}
<main role="main" class="container">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Details: {{ seed.title }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        {% if seed.initial_file %}
        <a target="_blank" href="{{ seed.initial_file.url }}"><button class="btn btn-sm btn-outline-secondary">Seed for Client</button></a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">
        <div class="progress">
            <div class="progress-bar" style="width: {{seed.progress_percentage}}%;">{{seed.current_step}} / {{seed.total_steps}}</div>
        </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Current Status</h5>
                <h1 class="card-title">{{seed.status}}</h1>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Districts</h5>
                <h1 class="card-title">{{seed.districts}}</h1>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Non-Precinct Polygons</h5>
                <h1 class="card-title">{{seed.nonprecinct_behavior}}</h1>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">District Population Distribution Score</h5>
                <h1 class="card-title">Unknown</h1>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">District Compactness Score</h5>
                <h1 class="card-title">Unknown</h1>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Total Iterations</h5>
                <h1 class="card-title">{{total_steps}}</h1>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Total Runtime</h5>
                <h1 class="card-title">{{total_runtime}}</h1>
            </div>
        </div>
    </div>

  </div>

  <h2>Run History</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Run ID</th>
          <th>Run Time (s)</th>
          <th>Steps</th>
          <th>MultiPolygon Behavior</th>
          <th>Visualization</th>
          <th>Networkx Pickle</th>
          <th>GIS Files</th>
          <th>Weifan Export</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Seed</td>
            <td>0.0</td>
            <td>0</td>
            <td>{{seed.multi_polygon_behavior}}</td>
            {% if seed.initial_visualization %}
            <td><a href="{{seed.initial_visualization.url}}" target="_blank">View Image</a></td>
            {% else %}
            <td>Visualization Unavailable</td>
            {% endif %}
            {% if seed.initial_file %}
            <td><a href="{{seed.initial_file.url}}" target="_blank">Download Graph</a></td>
            {% else %}
            <td>Graph Unavailable</td>
            {% endif %}
            {% if seed.shape %}
            <td><a href="{{seed.shape.url}}" target="_blank">Download GIS files</a></td>
            {% else %}
            <td>Shape Unavailable</td>
            {% endif %}
            {% if seed.matrix_map %}
            <td><a href="{{seed.matrix_map.url}}" target="_blank">Download Weifan Format</a></td>
            {% else %}
            <td>Weifan Export Unavailable</td>
            {% endif %}
        </tr>
        {% for redistricting in redistrictings %}
        <tr>
            <td>{{redistricting.id}}-{{redistricting.queue_index}}</td>
            <td>{{redistricting.total_runtime}}</td>
            <td>{{redistricting.steps}}</td>
            <td>{{redistricting.multi_polygon_behavior}}</td>
            {% if redistricting.visualization %}
            <td><a href="{{redistricting.visualization.url}}" target="_blank">View Image</a></td>
            {% else %}
            <td>Visualization Unavailable</td>
            {% endif %}
            {% if redirecting.graph %}
            <td><a href="{{redistricting.graph.url}}" target="_blank">Download Graph</a></td>
            {% else %}
            <td>Graph Unavailable</td>
            {% endif %}
            {% if redistricting.shape_file %}
            <td><a href="{{redistricting.shape_file.url}}" target="_blank">Download GIS files</a></td>
            {% else %}
            <td>GIS files Unavailable</td>
            {% endif %}
            {% if redistricting.matrix_map %}
            <td><a href="{{redistricting.matrix_map.url}}" target="_blank">Download Weifan Format</a></td>
            {% else %}
            <td>Weifan Export Unavailable</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
  </div>
</main>
{% endblock %}
