{% extends 'states/_base.html' %}
{% block title %}Example Maps{% endblock %}

{% block content %}
<main role="main">

  {% include 'states/jumbotron.html' %}

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
	{% for map in maps %}        
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
		<a href="{{map.initial_visualization.url}}">
            <img class="card-img-top" src="{{map.initial_visualization.url}}" alt="{{map.title}}">
		</a>
            <div class="card-body">
              <p class="card-text">
		<span class="badge badge-primary">Seed</span>
		<span class="badge badge-primary">{{map.state}}</span><br/>
		Title: "{{map.title}}"<br/>
		Districts: {{map.districts}}<br/>
		</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/map/{{map.id}}/"><button type="button" class="btn btn-sm btn-outline-secondary">Details</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
	{% endfor %}
      </div>
    </div>
  </div>

</main>
{% endblock %}
